# Build artifacts
bin/
dist/
*.dll
*.exe
*.test

# Terraform files
.terraform/
terraform.tfplan
terraform.tfstate
*.tfstate
*.backup
example.tf

# IDE and editor files
.idea
*.iml
*.swp
*~
*.bak

# OS specific files
.DS_Store

# Logs
*.log

# Temporary files
tmp

# Package files
/pkg/

# Development modules
modules-dev/

# Vagrant
.vagrant/

# Website specific
website/.vagrant
website/.bundle
website/build
website/node_modules
website/vendor

# Examples
examples/provider-install-verification/

# Test exclusions
!command/test-fixtures/**/*.tfstate
!command/test-fixtures/**/.terraform/

# Keep windows files with windows line endings
*.winfile eol=crlf
