---
page_title: "{{.Name}} {{.Type}} - {{.ProviderShortName}}"
subcategory: ""
description: |-
  {{.Description}}
---

# {{.Name}} ({{.Type}})

{{.Description}}

## Example Usage

### Bigquery

{{codefile "terraform" "examples/resources/trocco_connection/bigquery.tf"}}

### Snowflake 

{{codefile "terraform" "examples/resources/trocco_connection/snowflake.tf"}}

### Google Cloud Storage(GCS)

{{codefile "terraform" "examples/resources/trocco_connection/gcs.tf"}}

### MySQL

{{codefile "terraform" "examples/resources/trocco_connection/mysql.tf"}}

### S3

{{codefile "terraform" "examples/resources/trocco_connection/s3.tf"}}

### Salesforce

{{codefile "terraform" "examples/resources/trocco_connection/salesforce.tf"}}

{{.SchemaMarkdown}}

## Import

Import is supported using the following syntax:

{{codefile "shell" "examples/resources/trocco_connection/import.sh"}}

