---
page_title: "{{.Name}} {{.Type}} - {{.ProviderShortName}}"
subcategory: ""
description: |-
  {{.Description}}
---

# {{.Name}} ({{.Type}})

{{.Description}}

## Example Usage

### Gcs to Bigquery(CSV file)

Minimum configuration

{{codefile "terraform" "examples/resources/trocco_job_definition/gcs_to_bigquery.tf"}}

### Mysql to Bigquery

Minimum configuration

{{codefile "terraform" "examples/resources/trocco_job_definition/mysql_to_bigquery.tf"}}

### Google Spreadsheets to Google Spreadsheets

{{codefile "terraform" "examples/resources/trocco_job_definition/google_spreadsheets_to_google_spreadsheets.tf"}}

### General Setting

{{codefile "terraform" "examples/resources/trocco_job_definition/general_setting.tf"}}

### FilterColumn

{{codefile "terraform" "examples/resources/trocco_job_definition/filter_column.tf"}}

### FilterRow

{{codefile "terraform" "examples/resources/trocco_job_definition/filter_row.tf"}}

### FilterMask

{{codefile "terraform" "examples/resources/trocco_job_definition/filter_mask.tf"}}

### FilterAddTime

{{codefile "terraform" "examples/resources/trocco_job_definition/filter_add_time.tf"}}

### FilterGsub

{{codefile "terraform" "examples/resources/trocco_job_definition/filter_gsub.tf"}}


### FilterStringTransform

{{codefile "terraform" "examples/resources/trocco_job_definition/filter_string_transform.tf"}}

### FilterHash

{{codefile "terraform" "examples/resources/trocco_job_definition/filter_hash.tf"}}

### FilterUnixtimeConversions

{{codefile "terraform" "examples/resources/trocco_job_definition/filter_unixtime_conversion.tf"}}

### CsvParser

{{codefile "terraform" "examples/resources/trocco_job_definition/parser/csv_parser.tf"}}

### JsonlParser

{{codefile "terraform" "examples/resources/trocco_job_definition/parser/jsonl_parser.tf"}}


### LtsvParser

{{codefile "terraform" "examples/resources/trocco_job_definition/parser/ltsv_parser.tf"}}

### ExcelParser

{{codefile "terraform" "examples/resources/trocco_job_definition/parser/excel_parser.tf"}}

### XmlParser

{{codefile "terraform" "examples/resources/trocco_job_definition/parser/xml_parser.tf"}}


### JsonPathParser

{{codefile "terraform" "examples/resources/trocco_job_definition/parser/jsonpath_parser.tf"}}

### ParquetParser

{{codefile "terraform" "examples/resources/trocco_job_definition/parser/parquet_parser.tf"}}

### Decoder

{{codefile "terraform" "examples/resources/trocco_job_definition/decoder.tf"}}

### InputOptions

#### BigqueryInputOption

{{codefile "terraform" "examples/resources/trocco_job_definition/input_options/bigquery_input_option.tf"}}

#### MysqlInputOption

{{codefile "terraform" "examples/resources/trocco_job_definition/input_options/mysql_input_option.tf"}}

#### GcsInputOption(csv format)

{{codefile "terraform" "examples/resources/trocco_job_definition/input_options/gcs_input_option.tf"}}

#### SalesforceInputOption
{{codefile "terraform" "examples/resources/trocco_job_definition/input_options/salesforce_input_option.tf"}}

#### S3InputOption

{{codefile "terraform" "examples/resources/trocco_job_definition/input_options/s3_input_option.tf"}}

#### PostgresqlInputOption

{{codefile "terraform" "examples/resources/trocco_job_definition/input_options/postgresql_input_option.tf"}}

#### GoogleAnalytics4InputOption

{{codefile "terraform" "examples/resources/trocco_job_definition/input_options/google_analytics4_input_option.tf"}}


### OutputOptions

#### BigqueryOutputOption

{{codefile "terraform" "examples/resources/trocco_job_definition/output_options/bigquery_output_option.tf"}}

#### SalesforceOutputOption

{{codefile "terraform" "examples/resources/trocco_job_definition/output_options/salesforce_output_option.tf"}}


### Label

{{codefile "terraform" "examples/resources/trocco_job_definition/labels.tf"}}


### Notification

{{codefile "terraform" "examples/resources/trocco_job_definition/notifications.tf"}}

### Schedule

{{codefile "terraform" "examples/resources/trocco_job_definition/schedules.tf"}}

{{.SchemaMarkdown}}

## Import

Import is supported using the following syntax:

In Terraform v1.5.0 and later, use an [`import` block](https://developer.hashicorp.com/terraform/language/import) to import {{.Name}} ({{.Type}}). For example:

{{codefile "terraform" "examples/resources/trocco_job_definition/import.tf"}}

Using the [`terraform import` command](https://developer.hashicorp.com/terraform/cli/commands/import):

{{codefile "shell" "examples/resources/trocco_job_definition/import.sh"}}

