---
page_title: "{{.Name}} {{.Type}} - {{.ProviderShortName}}"
subcategory: ""
description: |-
  {{.Description}}
---

# {{.Name}} ({{.Type}})

{{.Description}}

## Example Usage

### Minimum

{{codefile "terraform" "examples/resources/trocco_pipeline_definition/minimum.tf"}}

### Task Dependencies

{{codefile "terraform" "examples/resources/trocco_pipeline_definition/task_dependencies.tf"}}

### Labels

{{codefile "terraform" "examples/resources/trocco_pipeline_definition/labels.tf"}}

### Notifications

{{codefile "terraform" "examples/resources/trocco_pipeline_definition/notifications.tf"}}

### Tasks

#### TROCCO Transfer

{{codefile "terraform" "examples/resources/trocco_pipeline_definition/trocco_transfer.tf"}}

##### Custom Variable Loop

{{codefile "terraform" "examples/resources/trocco_pipeline_definition/trocco_transfer_with_custom_variable_loop_with_bigquery_config.tf"}}

{{codefile "terraform" "examples/resources/trocco_pipeline_definition/trocco_transfer_with_custom_variable_loop_with_period_config.tf"}}

{{codefile "terraform" "examples/resources/trocco_pipeline_definition/trocco_transfer_with_custom_variable_loop_with_redshift_config.tf"}}

{{codefile "terraform" "examples/resources/trocco_pipeline_definition/trocco_transfer_with_custom_variable_loop_with_snowflake_config.tf"}}

{{codefile "terraform" "examples/resources/trocco_pipeline_definition/trocco_transfer_with_custom_variable_loop_with_string_config.tf"}}


#### TROCCO Transfer Bulk

{{codefile "terraform" "examples/resources/trocco_pipeline_definition/trocco_transfer_bulk.tf"}}

#### Datamart

##### Azure Synapse Analytics

{{codefile "terraform" "examples/resources/trocco_pipeline_definition/trocco_azure_synapse_analytics_datamart.tf"}}

##### BigQuery

{{codefile "terraform" "examples/resources/trocco_pipeline_definition/trocco_bigquery_datamart.tf"}}

##### Redshift

{{codefile "terraform" "examples/resources/trocco_pipeline_definition/trocco_redshift_datamart.tf"}}

##### Snowflake

{{codefile "terraform" "examples/resources/trocco_pipeline_definition/trocco_snowflake_datamart.tf"}}

#### Data Check

##### BigQuery

{{codefile "terraform" "examples/resources/trocco_pipeline_definition/bigquery_data_check.tf"}}

##### Redshift

{{codefile "terraform" "examples/resources/trocco_pipeline_definition/redshift_data_check.tf"}}

##### Snowflake

{{codefile "terraform" "examples/resources/trocco_pipeline_definition/snowflake_data_check.tf"}}

#### HTTP Request

{{codefile "terraform" "examples/resources/trocco_pipeline_definition/http_request.tf"}}

#### Slack Notify

{{codefile "terraform" "examples/resources/trocco_pipeline_definition/slack_notify.tf"}}

#### Tableau Extract

{{codefile "terraform" "examples/resources/trocco_pipeline_definition/tableau_extract.tf"}}

#### dbt

{{codefile "terraform" "examples/resources/trocco_pipeline_definition/trocco_dbt.tf"}}

#### TROCCO Pipeline

{{codefile "terraform" "examples/resources/trocco_pipeline_definition/trocco_pipeline.tf"}}

{{.SchemaMarkdown}}

## Import

Import is supported using the following syntax:

In Terraform v1.5.0 and later, use an [`import` block](https://developer.hashicorp.com/terraform/language/import) to import {{.Name}} ({{.Type}}). For example:

{{codefile "terraform" "examples/resources/trocco_pipeline_definition/import.tf"}}

Using the [`terraform import` command](https://developer.hashicorp.com/terraform/cli/commands/import):

{{codefile "shell" "examples/resources/trocco_pipeline_definition/import.sh"}}

